VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_STORAGE_BUCKET_IMAGES=build-images
VITE_SUPABASE_STORAGE_BUCKET_MODELS=build-models
VITE_SUPABASE_STORAGE_BUCKET_AVATARS=avatars
